@model WebGsbMedicament.Models.Metier.Prescrire

@{
    ViewData["Title"] = "Ajouter";
    Layout = "~/Views/Shared/_LayoutMedicament.cshtml";

}

<h2>Ajouter une Prescription</h2>


@if (Model != null)
{
    @using (Html.BeginForm("Ajouter", "Medicament", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card col-8 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Ajouter une prescription</h3>
                <div class="form-horizontal">
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!-- Id Medicament -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="id-medicament-input">Id Medicament : </span>
                        </div>
                        <input name="Id_medicament" type="text" value="@Model.Id_medicament" id="Id_medicament" class="form-control" aria-describedby="id-medicament-input" />

                    </div>

                    <!-- Id Dosage -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="id-dosage-input">Id dosage :</span>
                        </div>

                        <input name="Id_dosage" type="text" value="@Model.Id_dosage" id="Id_dosage" class="form-control" aria-describedby="id-medicament-input" />

                    </div>

                    <!-- Id Type Individu -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="id-type-individu-input">Id Type Individu :</span>
                        </div>
                        <input name="Id_type_individu" type="text" value="@Model.Id_type_individu" id="Id_type_individu" class="form-control" aria-describedby="id-type-individu-input" />

                    </div>

                    <!-- Posologie -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-2 col-lg-4 col-xl-3">
                            <span class="input-group-text" id="posologie-input">Posologie :</span>
                        </div>
                        <input name="Posologie" type="text" class="form-control"  />
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Enregistrer" class="btn btn-primary" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}
