@model System.Data.DataTable
@using System.Data;

@{
	ViewBag.Title = "Liste des medicaments";
	Layout = "~/Views/Shared/_LayoutMedicament.cshtml";
}

@if (Model != null)
{
	<div class="container">
        <div class="col-md-8 col-sm-8">
			<div class="blanc">
				<h2>Liste des medicaments</h2>
			</div>

			<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>id_medicament</th>
							<th>id_famille</th>
							<th>depot legal</th>
							<th>nom commercial</th>
							<th>effets</th>
							<th>contre indication</th>
							<th>prix echantillon</th>
							<th>famille</th>
							<th>quantité dosage</th>
							<th>unite dosage</th>
							<th>posologie</th>
							<th>type individu</th>
						</tr>
					</thead>

				@foreach (DataRow dataRow in Model.Rows)
						{
							<tr>
								@foreach (var item in dataRow.ItemArray)
									{
									<td>
										@if (dataRow.ItemArray[dataRow.ItemArray.Length - 1].ToString() == item.ToString())
										{
											@item.ToString()
										}
										else
										{
											@item.ToString()
										}
									</td>
									}
								<td style="text-align:center;">
									<span>
									<a href="@Url.Action("Modifier", "Medicament", new { id = dataRow[0] })" class="btn btn-default btn-primary">
										<i class="bi bi-pencil-fill"></i>Modifier
									</a>
									</span>
								</td>

								<td style="text-align:center;">
									<span>
										<a href="@Url.Action("Supprimer", "Medicament", new { id = dataRow[0] })" class="btn btn-default btn-danger">
											<i class="bi bi-trash-fill"></i>Supprimer
										</a>
									</span>
								</td>
							</tr>
						}
				</table>
			<div class="form-group">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
					@Html.ActionLink("Retourner à l'accueil", "Index", "Home", null, new { @class = "btn btn-default btn-primary" })
				</div>
			</div>
		</div>
	</div>
			

}

